<body>
  <main data-theme="cupcake">
    <div class="container p-0 mx-auto overflow-hidden">
      <!-- <footer>
      <div class="footer-center">
        <div class="footer-content items-center">
          <div class="footer-section about">
            <h1 class="logo-text text-center"><span>Let's</span>Cook</h1>
            <p>
              Let's Cook is a social media platform for sharing recipes and
              cooking tips.
            </p>
            <div class="contact text-center mx-auto">
              <span><i class="fas fa-phone"></i> &nbsp; 123-456-789 ™</span>
              <span><i class="fas fa-envelope"></i> &nbsp; </span>
            </div>
          </div>
        </div>
      </div>
    </footer> -->

      <footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800 inset-x-0 bottom-0">
        <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
          <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href=""
              class="hover:underline">Let's Cook</a>. All Rights
            Reserved.
          </span>
          <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
            <li>
              <a href="#" class="mr-4 hover:underline md:mr-6">About</a>
            </li>
            <li>
              <a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
            </li>
            <li>
              <a href="#" class="mr-4 hover:underline md:mr-6">Licensing</a>
            </li>
            <li>
              <a href="#" class="hover:underline">Contact</a>
            </li>
          </ul>
        </div>
      </footer>
    </div>
  </main>
  <script type="module" src="js/main.js"></script>
</body>